{% extends 'base.html' %}



<!-- <div class="container">
    <h2 class="my-3 text-center text-uppercase font-weight-bold">Редактирование книги</h2>

    <form method="POST" action="{{ url_for('books.edit', book_id=book.id) }}" enctype="multipart/form-data">
        <input type="hidden" name="author_id" value="{{ current_user.id }}">
        <div class="mb-3 row">
            <div class="col-md-6 d-flex flex-column">
                <div class="mb-3">
                    <label for="name">Название</label>
                    <input class="form-control" type="text" name="name" id="name" value="{{book.name}}">
                </div>
                
                <div class="mb-3">
                    <label for="genres">Жанры</label>
                    <div class="checkboxes">
                        {% for genre in genres %}
                        <div class="form-check">
                            <input class="form-check-input check_checkbox" type="checkbox" name="{{ genre.id}}" value="{{ genre.name }}" 
                                id="{{ genre.id }}"  {% if genre.name in book_genres %} checked {% endif %}>
                            <label class="form-check-label" for="{{ genre.id }}">
                                {{ genre.name }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="mb-3 d-flex flex-column flex-grow-1">
                    <label for="description">Описание</label>
                    <textarea class="form-control flex-grow-1" name="description" id="description" cols="30"
                        rows="5" >{{ book.description }}</textarea>
                </div>
                <div class="mb-3">
                    <label for="year">Год</label>
                    <input class="form-control" type="text" name="year" id="year" value="{{ book.year }}">
                </div>
                <div class="mb-3">
                    <label for="publisher">Издательство</label>
                    <input class="form-control" type="text" name="publisher" id="publisher" value="{{ book.publisher }}">
                </div>
                <div class="mb-3">
                    <label for="author">Автор</label>
                    <input class="form-control" type="text" name="author" id="author" value="{{ book.author }}">
                </div>
                <div class="mb-3">
                    <label for="pages">Количество страниц</label>
                    <input class="form-control" type="text" name="pages" id="pages" value="{{ book.pages }}">
                </div>
            </div>
        </div>

        <div class="mb-3 text-center">
            <input type="submit" class="btn btn-dark" value="Сохранить">
        </div>
    </form>
</div> -->

{% from 'form.html' import book_form %}


{% block content %}
    <div class="container">
        <h2 class="my-3 text-center text-uppercase font-weight-bold">Редактирование Книги</h2>
        {{ book_form(url_for('books.edit', book_id=book.id), genres, book, current_user, m, 
        output_name, error_name,
        output_desc, error_desc,
        output_year, error_year,
        output_publish, error_publish,
        output_author, error_author,
        output_pages, error_pages) }}
    </div>
        
{% endblock %}
